#logo-display {
    position: absolute;
    top: 0;
    left: 0;
    right: 50%;
    bottom: 240px;
    text-align: center;
}
#logo-display canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#logo-debug {
    background-color: #eff;
    position: absolute;
    bottom: 0;
    height: 240px;
    left: 0;
    right: 50%;
}
#logo-console {
    background-color: lightgrey;
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    bottom: 240px;
    overflow-y: scroll;
}
#logo-input {
    position: absolute;
    right: 0;
    width: 50%;
    bottom: 40px;
    height: 200px;
    border: none;
}
#logo-run {
    position: absolute;
    left: 50%;
    right: 75%;
    width: 25%;
    bottom: 0;
    height: 40px;
}
#logo-stop {
    position: absolute;
    left: 75%;
    right: 0;
    width: 25%;
    bottom: 0;
    height: 40px;
}

#logo-console div {
    white-space: pre-wrap;
}
#logo-console div.input {
    color: #666;
}
#logo-console div.output {
    background-color: white;
    color: black;
}